<div class="container">
  <p class="main-text">สินค้า</p>
  <div class="columns is-multiline">
    <div class="column is-one-third" *ngFor="let product of sub | async | select: 'listProducts'">
      <a [routerLink]="['/editproduct' , product._id]">
      <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img [src]="product.coverImage" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">{{product.name}}</p>
              </div>
            </div>

            <div class="content">
              <p>{{product.description}}</p>
              <p>จำนวนสินค้า {{product.number}} ชิ้น</p>
              <p>&#3647; {{product.price}} บาท</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
